/*  ---- Style formulaire ----  */

form {
  margin: auto;
  margin-top: 50px;
  width: 400px;
  padding: 1em;
  border: 1px solid #fffdff;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
  color: #2cae6f;
}

input,
textarea {
  font-size: 1.2em;
  font-weight: bold;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  color: #282828;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}
