/* ---- style services  ---- */

.servicesBox {
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 20%;
  background-color: #fff;
  padding: 20px 40px 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.box h2 {
  font-size: 2em;
  font-weight: 400;
  opacity: 0.7;
  transition: 0.5s;
}

.box p {
  font-weight: light;
  opacity: 0.7;
  color: grey;
}

.box h3 {
  font-size: 1.3em;
  color: #333;
  transition: 0.5s;
}

.box:hover {
  position: relative;
  width: 20%;
  background-color: #2cae6f;
  transition: 0.5s;
}

.box:hover h2 {
  color: yellow;
}

.box:hover h3 {
  color: yellow;
}

.box:hover p {
  color: #fff;
}
