<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Web APP / Home</title>
    <link rel="stylesheet" href="{{style}}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Slab:wght@800&display=swap" />
  </head>
  <body>
    <header>
      <h1>Express<span>WebAPP</span></h1>
      <nav>
        <ul>
          <li><a href="http://localhost:{{port}}/home">Accueil</a></li>
          <li><a href="http://localhost:{{port}}/services">Nos services</a></li>
          <li><a href="http://localhost:{{port}}/contact">Contactez-nous</a></li>
        </ul>
      </nav>
    </header>
    <section class="centralBox">
      <div class="styleWhite">GOMYCODE</div>
      <div class="styleYellow">EXPRESS</div>
      <div class="styleGreen">WEB-APP</div>
    </section>
    <footer></footer>
  </body>
</html>
